*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Karla', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1rem;
}
.container {
    margin: 0 auto;
    width: 98%;
    max-width: 58rem;
    height: 100%;
    display: table;
    background-color: #ffffff;
}
/* Fade in background */

.link-fadeinbg a {
    padding: .5rem;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}
.link-fadeinbg a:hover,
.link-fadeinbg a:focus {
    border-color: rgba(52, 73, 94, 0);
    background-color: rgba(52, 73, 94, 0.1);
    padding: .5rem;
}
.right h1 a {
    font-size: 1.3rem;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 2rem;
    border-bottom: 0;
    padding: 0;
    line-height: 1rem;
    color: #44bc93;
}
.right h1 a:visited {
    color: #44bc93;
}
.right h1 a:hover,
.right h1 a:active {
    color: #ee4799;
}
h2 {
    font-family: "Inconsolata", "Lucida Console", Monaco, monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-family: "Inconsolata", "Lucida Console", Monaco, monospace;
    line-height: 2rem;
}
li a {
    font-size: 1rem;
    font-family: 'Karla', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
hr {
    border: 1px solid #f0f0f0;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
/* Small screens (default) */

html {
    font-size: 100%;
}
.left {
    display: inline;
    margin: 0 auto;
    position: absolute;
top: 30rem;
    width: 80%;
}
.left img {
    width: 100%;
    max-width: 300px;
    opacity: .7;
}
.right {
    width: 80%;
    position: absolute;
    text-align: left;
    margin-left: 1rem;
    padding-top: 4rem;
}
/* Medium screens (640px) */

@media (min-width: 40rem) {
    * {
        position: relative;
        text-align: left;
    }
    html {
        font-size: 80%;
    }
    .left {
        position: relative;
        width: 40%;
        padding-right: 1rem;
            text-align: center;
        padding-top: 9rem;
        vertical-align: middle;
        display: table-cell;
        top: 0;
    }
    .left img {
        width: 70%;
            opacity: 1.0;

    }
    .right {
        position: relative;
        width: 40%;
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
        padding-top: 10rem;
        padding-right: 2rem;
      
    }
}
/* Large screens (1024px) */

@media (min-width: 64rem) {
    html {
        font-size: 100%;
    }
    .left {
        width: 30%;
    }
    
    .left img {
        width: 100%;

    }
    .right {
        padding-top: 10rem;
      
    }
    a,
    a:visited {
        font-size: 2rem;
    }
}
a,
a:visited {
    color: #333;
    border-bottom: 0.1rem solid #ead5ea;
    text-decoration: none;
    font-weight: 700;
}
a#dribbble:hover,
a#dribbble:focus {
    color: #ea4c89;
}
a#soundcloud:hover,
a#soundcloud:focus {
    color: #517fa4;
}
a#email:hover,
a#email:focus {
    color: #80ccbb;
}
a:hover,
a:focus {
    color: #e08ebc;
    border-bottom: 0.1rem solid #e9c7e9;
}
a:active {
    color: #ee4799;
    border-bottom: 0px;
}