/*Global Styles*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "franklin-gothic-urw", "Karla", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 125%;
}

/*Header Styles*/
.header {
    font-family: "Karla";
    color: #FFFFFF;
}
.header__logo {
    width: 10rem;
    float: left;
}
.header__logo-svg path {
    fill: #ffffff;
}
.header__nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}
.header__links {
    float: right;
    font-size: 16px;
    line-height: 28px;
    list-style-type: none;
}
.header__links li {
    display: inline;
    margin-right: 1.5rem;
}
.header__links li:last-child {
    margin-right: 0;
}
.header__links a {
    text-decoration: none;
    color: #ffffff;
}
.header__text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    clear: both;
    padding: 6.5rem 0 0 0;
}
.header--h1 {
    font-family: "franklin-gothic-urw", "Karla", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 78px;
    margin: 0 0 0 0;
}
.header--h2 {
    font-size: 24px;
    line-height: 50px;
    font-weight: normal;
}
.header--background {
    height: 25rem;
/*    background-color: #6eb4b7;*/
    background-image: url("../learn/sketch-assets/low-poly-texture-13.png");
    background-size: cover;
}

/*Content Styles*/
.content {
    font-family: "franklin-gothic-urw", "Karla", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    color: #030303;
    width: 80%;
    margin: 3rem auto 7rem auto;
}
.content__text {
    font-size: 23px;
    line-height: 33px;
}
.content__text p {
    margin: 0 0 1rem 0;
}
.content__text img {
    margin: 2rem auto;
    max-width: 100%;
}
.content__text a, .content__text a:visited, .content__text a:active {
    color: #30b1b7;
}
.content__text a:hover, .content__text a:focus {
    color: #309db7;
}
.content--h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 59px;
    margin: 0 0 .5rem 0;
}
.content--h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    margin: 5rem 0 .5rem 0;
}

/*Media Queries*/
@media (max-width: 1100px) {
    .header__text {
        width: 90%;
        padding: 5rem 0 0 0;
    }
    .header--background {
        height: 23rem;
    }
    .header__nav {
        width: 90%;
    }
    .header--h1 {
        font-size: 48px;
        line-height: 56px;
    }
    .content {
        width: 90%;
    }
    .content--h1 {
        font-size: 29px;
        line-height: 45px;
    }
}

/*Modifications*/
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.thin {
    width: 60%;
    margin: 5rem auto;
}