@font-face {
  font-family: "Authentic";
  src: url(../fonts/Authentic/AUTHENTICSans-Condensed-90.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  /* max-width: 800px; */
  /* margin: 0 auto; */
  padding: 1rem;
  font-family: "Authentic";
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  /* text-align: left; */
  color: #1c2027;
  background-color: gainsboro;
}

a {
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}
