@font-face {
  font-family: "Dauphine";
  src: url(../fonts/Dauphine\ Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Dauphine";
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}
