@import 'fonts.css';

/* Global */
:root {
  font-family: 'Syne';
  font-size: 1em;
  font-size: calc(1em + 1vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  --circle-color: #49ff65;
  --background-color: #e5ff65;
  --text-color: #2d2d2d;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* Header Group */
section.header {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

header {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 2px solid;
  gap: 1rem;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0%)
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0%)
  }
}

hgroup {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  animation: 2s slide-in ease-out;
  -webkit-animation: 2s slide-in ease-out;
}

.transparent-text hgroup {
  animation: none;
}

.transparent-text {
  position: absolute;
  top: 0;
  z-index: 999;
  color: transparent;
  background-color: transparent;
}

.transparent-text * {
  color: transparent;
  background-color: transparent !important;
}

/* Circle */
.circle-container {
  display: flex;
  place-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  touch-action: none;
  user-select: none;
  overflow: hidden;
  mix-blend-mode: color-dodge;
  z-index: 2;
  position: absolute;
  top: 0;
}

.circle {
  background-color: var(--circle-color);
  border-radius: 100%;
  animation: 5s circle-expand 2s ease-out;
  -webkit-animation: 5s circle-expand 2s ease-out;
  animation-fill-mode: forwards;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  mix-blend-mode: color-dodge;
  width: 0;
  user-select: none;
  touch-action: none;
  height: 0;
  overflow: hidden;
  z-index: 2;
}

.circle:focus, .circle:hover {
  cursor: not-allowed;
}


@keyframes circle-expand {
  0% { width: 0; height: 0; margin-top: 5em;}
  100% { width: 100%; height: 80%; margin-top: 0; transform: scale(200%);}
}

@-webkit-keyframes circle-expand {
    0% { width: 0; height: 0; margin-top: 5em;}
    100% { width: 100%; height: 80%; margin-top: 0;}
}

nav, footer, hgroup, section {
  padding: 1em;
}

a {
  color: inherit;
}

/* Footer */
footer {
  text-align: center;
  border-top: 2px solid;
  border-bottom: 2px solid;
  background-color: orange;
}

section {
  background-color: #e7e8e6;
}

section>* {
  text-align: center;
}

/* Headings */
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: calc(1em + 7vw);
  line-height: 0.9;
  letter-spacing: -0.01em;
  flex-grow: 1;
  width: 60%;
  margin-bottom: 0em;
  font-family: 'GlyphWorld AnimalSoul';
}

h2 {
  font-size: 1.167em;
  font-weight: 700;
  font-family: 'GlyphWorld Forest';
}

h3 {
  font-weight: 900;
  letter-spacing: 0.158em;
  font-size: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
}

h4 {
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 5px;
}

/* Bold = Small Caps */
strong, b {
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-kerning: normal;
  font-size: 95%;
  padding: 0 0.1em;
}

/* Paragraph Styling */
p {
  margin-bottom: 0;
  text-justify: inter-word;
  letter-spacing: -0.024em;
  font-weight: 100;
  font-style: normal;
  line-height: 142%;
}

p+p {
  text-indent: 2em;
  margin-top: 0
}

code {
  font-family: 'Syne Mono';
  padding: 0 .25em;
  background: white;
  letter-spacing: -1px;
}
