@font-face {
    font-family: 'Glyphworld Flower';
    src: url('../fonts/Syne-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
  }

:root {
    --wave-color: #b9e8b6;
    --background-color: rgb(69, 143, 85);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Glyphworld Flower';
    margin: 0;
    padding: 0;
}

section.container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 200vw;
}

.wave-top {
    display: flex;
    overflow: hidden;
    user-select: none;
    justify-content: space-around;
    flex-shrink: 0;
}

.wave-bottom {
    display: flex;
    overflow: hidden;
    user-select: none;
}

.wave {
    background-image: url(bg-tile.png);
    background-repeat: round;
    height: 100px;
    animation: scroll 13s infinite forwards linear;
    width: 100vw;
}

.wave-bottom .wave {
    animation: none;
    rotate: 180deg;
    animation: scroll-reverse 13s infinite forwards linear;
}

.content {
    background-color: var(--wave-color);
    min-height: 50vh;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll-reverse {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
