/* Centering */
body {
  display: flex;
  place-items: center;
  height: 100vh;
  justify-content: center;
}

:root, html, body {
  margin: 0;
  padding: 0;
}

/* Button styling */
a {
  text-decoration: none;
  background-color: black;
  border-radius: 1em;
  color: white;
  padding: .25em 1em;
  font-size: 4em;
  line-height: 100%;
  /* line height prevents button from jumping in height when emoji appears */
  font-family: 'Arial', sans-serif;
}

/* Hide HTML only text to prep for pseudo content */
a h1 {
  display: none;
}

/* Initial button state */
a::before {
  content: "Hello World";
}

/* Hover state, can only use unicode characters
Emoji reference: https://css-tricks.com/emoji-toggles/
 */
a:hover::before {
  content: "Hello W\01F30Frld";
}
