/* This creates a responsive masonry style image gallery. You cannot scroll up and down, so tweak the numbers until all images are visible.

Sources:
https://www.nicesnippets.com/snippet/full-responsive-pure-css-masonry-grid-gallery#home
https://css-tricks.com/guide-responsive-friendly-css-columns/
*/
section {
  columns: 6;
  column-gap: 0em;
  column-width: 8em;
  overflow: hidden;
}

img {
  /* This makes the images larger than the column so that they overlap */
  width: 130%;
  /* This hides images but their containers are still rendered */
  opacity: 0;
  /* This is the measure of time the image stays on the screen, but it also affects the flash as the page first loads */
  transition: all 1s linear;
}

/* This is the hover interaction. Define fade in transition. */
img:hover, img:focus {
  opacity: 1;
  transition: all .25s ease-out;
  z-index: 999;
}